<div>
  <div class="flex flex-col items-center gap-4">
    <img src="/d-ai-logi-logo.svg" alt="D-AI-logi logo" class="w-128 h-64" />
    <div class="text-xl font-semibold">Witaj w D-AI-logi!</div>
  </div>
</div>
